
.produto-info{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.produto-info h1{
    margin: 14px 0;
}

.produto-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.produto-info h2{
    
    margin-top: 30px;
}

.produto-info h3{
    margin-top: 14px;
}

.produto-info p{
    margin: 20px 0;
    font-size: 30px;
    text-align: center;

}

.produto-info span{
    margin: 8px 0;
}

.area-buttons button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.area-buttons button:hover{
    background-color: brown;
    color: #fff;
}